<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title"> Contact Us!</h1>
        </div>
    </div>
</section>

<section class="section">

    <div class="container">
        <!--Contact form-->

        <form (ngSubmit)="submitForm()" #contactForm="ngForm">
            <!--Name-->

            <div class="field">
                <label class="label"> Name</label>
                <input type="text" name="name" class="input" placeholder="Enter name" [(ngModel)]="name"
                    #nameInput="ngModel" required>
                <div class="help is-error" *ngIf="nameInput.invalid && nameInput.touched">
                    Your name is required!
                </div>
            </div>
            <!--Email-->
            <div class="field">
                <label class="label"> Email</label>
                <input type="email" name="email" class="input" placeholder="Enter valid email" [(ngModel)]="email"
                    #emailInput="ngModel" required>

                <div class="help is-error" *ngIf="emailInput.invalid && emailInput.touched">
                    Your email is required!
                </div>
            </div>
            <!--Message-->
            <div class="field">
                <label class="label"> Your message</label>
                <textarea name="message" id="" class="textarea" [(ngModel)]="message"></textarea>

            </div>
            <!--Submit Button-->
            <button type="submit" class=" button is-large is-warning" [disabled]="contactForm.invalid">
                Send
            </button>
        </form>

    </div>
</section>